extends layouts/layout

block layout-content
  header
    h2=title

  nav.nav-cinema
    a.nav-link(href="/cinema" class=`${!subtitle ? 'active' : null}`) Home
    a.nav-link(href="/cinema/films" class=`${subtitle === 'films' ? 'active' : null}`) Films
    a.nav-link(href="/cinema/distributors" class=`${subtitle === 'distributors' ? 'active' : null}`) Distributors
    a.nav-link(href="/cinema/categories" class=`${subtitle === 'categories' ? 'active' : null}`) Categories
  
  if subtitle
    block page-content
  else
    .cinema-home
        

    script.
      let subtitle = !{subtitle}
      
      window.addEventListener('load', event => getCurrentSession())

      // Socket.io for live updates of the session
      socket.on('sessions', data => {
        let { type, session } = data
        if (!subtitle)
          getCurrentSession()
      })

      // Function print all information of the session
      const createSession = session => {
        const cinemaHome = document.querySelector('.cinema-home')
        cinemaHome.innerHTML = ''
        const h3 = document.createElement('h3')
        h3.innerHTML = 'Current film:'
        cinemaHome.appendChild(h3)

        const labels = [
          { name: 'titre', userFriendly: 'Title' },
          { name: 'resum', userFriendly: 'Synopsis' },
          { name: 'duree_minutes', userFriendly: 'Duration' },
          { name: 'genre', userFriendly: 'Category' },
          { name: 'distributeur', userFriendly: 'Distributor' }
        ]
        const film = session.film
        const filmInfos = document.createElement('div')
        filmInfos.className = 'cinema-film-infos'
        for (const [key, value] of Object.entries(film)) {
          const div = document.createElement('div')

          const label = document.createElement('span')
          label.innerHTML = `${labels.find(label => key === label.name).userFriendly}:`

          const info = document.createElement('span')
          if (key === 'genre' || key === 'distributeur')
            info.innerHTML = value && value.nom ? value.nom : 'undefined'
          else if (key === 'duree_minutes')
            info.innerHTML = `${Math.floor(value / 60)}h${value % 60}`
          else 
            info.innerHTML = value || 'undefined'

          div.appendChild(label)
          div.appendChild(info)
          filmInfos.appendChild(div)
        }
        cinemaHome.appendChild(filmInfos)

        const user = session.user
        const userInfos = document.createElement('div')
        userInfos.className = 'cinema-user-infos'
        userInfos.innerHTML = `Choosen by: ${user.firstName} ${user.lastName}`
        cinemaHome.appendChild(userInfos)
      }
      
      // Get current session
      const getCurrentSession = () => {
        fetch('/api/sessions', {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
            ...loadAuthorizationHeader()
          }
        }).then(res => {
          if (res.status === 204) 
            document.querySelector('.cinema-home').innerHTML = 'No film currently playing.'
          if (res.status === 200)
            res.json().then(json => createSession(json.session))
        }).catch(err => console.log(err))
      }