extends layouts/layout

block layout-content
  header
    h2=title

  section.films
    h3 Films list :

    .filters
      //- &and;
      //- button#order &or;
      .limits
        input(type='radio' id='limit_25' name='limit' value=25 checked) 
        label(for='limit_25') 25
        input(type='radio' id='limit_50' name='limit' value=50) 
        label(for='limit_50') 50
        input(type='radio' id='limit_100' name='limit' value=100) 
        label(for='limit_100') 100

      .filter_by
        button.order ASC
        input(type='radio' id='id_film' name='filter' value='id_film' checked) 
        label(for='id_film') Id
        input(type='radio' id='titre' name='filter' value='titre') 
        label(for='titre') Title
        input(type='radio' id='duree_minutes' name='filter' value='duree_minutes') 
        label(for='duree_minutes') Duration
        input(type='radio' id='date_debut_affiche' name='filter' value='date_debut_affiche') 
        label(for='date_debut_affiche') Release Date
        input(type='radio' id='genre' name='filter' value='genre') 
        label(for='genre') Category
        input(type='radio' id='distributeur' name='filter' value='distributeur') 
        label(for='distributeur') Distributor

      .pages-top

    .table
      .table-head
        span Id
        span Title
        span Duration
        span Release Date
        span Category
        span Distributor
    
    .pages-bottom


  script.
    let count
    let limit = 25
    let offset = 0
    let order = ['id_film', 'ASC']
    let page = 1

    window.addEventListener('load', event => getFilms())

    const generateTable = (films) => {
      let table = document.querySelector('.table')
      let rows = document.querySelectorAll('.table-row')
      if (rows) rows.forEach(row => row.remove())

      for (let i = 0; i < films.length; i++) {
        let row = document.createElement('div')
        row.className = 'table-row'
        let values = Object.entries(films[i])

        for (let j = 0; j < values.length; j++) {
          let col = document.createElement('span')
          let name = values[j][0]
          let value = values[j][1]
          if (name === 'duree_minutes') 
            col.innerHTML = `${Math.floor(value / 60)}h${value % 60}`
          else if (name === 'genre' || name === 'distributeur') 
            col.innerHTML = value && value.nom ? value.nom : 'Undefined'
          else col.innerHTML = value
          row.appendChild(col)
        }

        table.appendChild(row)
      }
    }

    const createPagination = (paginate, position) => {
      let pages = document.querySelectorAll(`.pages-${position}`)
      let pagesElements = document.querySelectorAll(`.pages-${position} *`)
      if (pagesElements) pagesElements.forEach(el => el.remove())

      for (let i = 0; i < paginate.length; i++) {
        let page = paginate[i]
        let element
        if (!page.current) {
          element = document.createElement('button')
          element.className = 'select-page'
          element.addEventListener('click', () => {
            offset = page.offset
            getFilms()
          })
        } else {
          element = document.createElement('span')
          element.className = 'current-page'
        }
        element.innerHTML = page.page
        pages.forEach(el => el.appendChild(element))
      }
    }

    document.querySelector('.order').addEventListener('click', function () {
      order[1] = order[1] === 'ASC' ? 'DESC' : 'ASC'
      this.innerHTML = order[1]
      getFilms()
    })

    document.querySelectorAll('input[name="filter"]').forEach(el => {
      el.addEventListener('click', () => {
        order[0] = el.value
        getFilms()
      })
    })

    document.querySelectorAll('input[name="limit"]').forEach(el => {
      el.addEventListener('click', () => {
        limit = el.value
        offset = 0
        getFilms()
      })
    })

    const getFilms = () => {
      fetch(`/api/films?limit=${limit}&offset=${offset}&order=${JSON.stringify(order)}`, {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json'
        }
      }).then(res => {
        res.json().then(json => {
          if (count !== json.filmsCount) {
            count = json.filmsCount
            document.querySelector('h3').innerHTML = `Films list (${count}):`
          }
          createPagination(json.paginate, 'top')
          createPagination(json.paginate, 'bottom')
          generateTable(json.films)
        })
      }).catch(err => console.log(err))
    }



