extends cinema

block page-content
  .films
    header
      h3=subtitle

    section.filters

      .limits
        input(type='radio' id='limit_25' name='limit' value=25 checked) 
        label(for='limit_25') 25
        input(type='radio' id='limit_50' name='limit' value=50) 
        label(for='limit_50') 50
        input(type='radio' id='limit_100' name='limit' value=100) 
        label(for='limit_100') 100

      .filter_by
        button.order ASC
        input(type='radio' id='id_film' name='filter' value='id_film' checked)
        label(for='id_film') Id
        input(type='radio' id='titre' name='filter' value='titre')
        label(for='titre') Title
        input(type='radio' id='duree_minutes' name='filter' value='duree_minutes')
        label(for='duree_minutes') Duration
        input(type='radio' id='date_debut_affiche' name='filter' value='date_debut_affiche')
        label(for='date_debut_affiche') Release Date
        input(type='radio' id='genre' name='filter' value='genre')
        label(for='genre') Category
        input(type='radio' id='distributeur' name='filter' value='distributeur')
        label(for='distributeur') Distributor

      .pages-top

    section.table
      .table-head
        span Id
        span Title
        span Duration
        span Release Date
        span Category
        span Distributor
        span Actions
    
    footer.pages-bottom


  script(src='/static/scripts/pagination.js')
  script.
    let count
    let limit = 25
    let offset = 0
    let order = ['id_film', 'ASC']
    let currentPage = 1

    window.addEventListener('load', event => getFilms())

    // Socket.io for live updates of the films
    socket.on('films', data => {
      let { type, film } = data
      let row = document.getElementById(`film_${film.id_film}`)
      if (row)
        getFilms()
    })

    document.querySelector('.order').addEventListener('click', function () {
      order[1] = order[1] === 'ASC' ? 'DESC' : 'ASC'
      this.innerHTML = order[1]
      getFilms()
    })

    document.querySelectorAll('input[name="filter"]').forEach(el => {
      el.addEventListener('click', () => {
        order[0] = el.value
        getFilms()
      })
    })

    document.querySelectorAll('input[name="limit"]').forEach(el => {
      el.addEventListener('click', () => {
        limit = el.value
        offset = 0
        currentPage = 1
        getFilms()
      })
    })

    const getFilms = () => {
      fetch(`/api/films?limit=${limit}&offset=${offset}&order=${JSON.stringify(order)}`, {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json',
          ...loadAuthorizationHeader()
        }
      }).then(res => {
        res.json().then(json => {
          if (count !== json.filmsCount) {
            count = json.filmsCount
            document.querySelector('h3').innerHTML = `We found ${count} films:`
          }
          paginate(getFilms)
          generateTable(json.films, 'film','films')
        })
      }).catch(err => console.log(err))
    }



